@model TheWinchester.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
